<div class="container">
  <div class="main-text-landing">
    <%= t(".landing_1_header_html") %>
    <ul class="main-text-landing-ul">
      <%= t(".landing_2_examples_html") %>
    </ul>
    <p class="main-text-landing-p">
      <%= t(".landing_3_footer_html") %>
    </p>
  </div>
</div>
