<div class="centered-main">
<h2> <%= t("devise.confirmations.resend_instruction") %> </h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post, class: "form__container"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form__field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <%= f.submit t("devise.confirmations.resend_instruction"), class: "submit_form" %>
<% end %>

<%= render "devise/shared/links" %>
</div>
