<div class="centered-main">
<h2><%= t("devise.registrations.sign_up") %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form__container"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form__field--slim">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form__field--slim">
    <%= f.label :password, t("devise.passwords.password") %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>) <%= t("devise.registrations.characters_minimum") %> </em>
    <% end %><br>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="form__field--slim">
    <%= f.label :password_confirmation, t("devise.passwords.password_confirmation") %><br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <%= f.submit t("devise.registrations.sign_up"), class: "form__button form__button--confirm" %>
  <%= render "devise/shared/links" %>
<% end %>

</div>
