<% if resource.errors.any? %>
  <div id="error-explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
            count: resource.errors.count,
            resource: resource.class.model_name.human.downcase) %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
