<div class="centered-main">
<h2> <%= t("devise.unlocks.resend_unlock_instructions") %> </h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: {method: :post}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form__field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <%= f.submit t("devise.unlocks.resend_unlock_instructions"), class: "form__button form__button--confirm" %>
<% end %>

<%= render "devise/shared/links" %>
</div>
