<%# params: @map %>
<%= turbo_stream_from @map %>
<%= turbo_stream_i18n_from @map %>
<header class="main-actions">
  <%= link_to t(".all_maps"), maps_path %>
  <%= render "name", map: @map %>
  <div class="main-actions-right">
    <%= link_to t("common.share"), map_access_groups_path(@map) if policy(@map.access_groups.new).index? %>
    <%= link_to t("helpers.link.map.delete"), @map, data: {turbo_method: :delete, turbo_confirm: t("common.confirm")} if policy(@map).destroy? %>
  </div>
</header>

<% content_for :left_pane do %>
  <div
    class="map-data__container"
    data-controller="layer-selection">
    <div id="<%= dom_id(@map, "layers") %>">
      <% @map.layers.includes(:fields).order(:created_at, :id).each do |layer| %>
        <%= render layer %>
      <% end %>
    </div>
    <footer class="footer__layer-list">
      <%= link_to t("helpers.link.layer.new"), new_map_layer_path(@map), class: "primary-action" if policy(@map).update? %>
    </footer>
  </div>
<% end %>

<% content_for :right_pane do %>
  <div class="map" data-map-target="map">
    <%= render "toolbar" %>
  </div>
<% end %>

<%= render "layouts/dragbar", map: @map, role_type: @role_type, current_user_id: current_user.id %>
