<div class="centered-main">
<h2><%= t("devise.passwords.submit_change_password") %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put, class: "form__container"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form_field">
    <%= f.label :password, t("devise.passwords.new_password") %><br>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>) <%= t("devise.registrations.characters_minimum") %></em><br>
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="form_field">
    <%= f.label :password_confirmation, t("devise.passwords.password_confirmation") %><br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <%= f.submit t("devise.passwords.submit_change_password"), class: "form__button form__button--confirm" %>
  <%= render "devise/shared/links" %>
<% end %>

</div>
