<div
  id="<%= dom_id(layer) %>"
  class="layer-container"
  data-controller="layer"
  data-layer-selection-target="layer"
  data-action="layer:center->map#fitBounds layer:opened->layer-selection#opened">
  <header class="layer-header">
    <div class="layer-header__left-description">
      <%= embedded_svg "#{layer.geometry_type}.svg", class: "layer-header__icon", style: "color: #{layer.color}" %>
      <%= render "layers/name", layer: layer %>
    </div>
    <div class="layer-header__right-tools">
      <span class="layer-header__action"
        title="<%= t(".center_on_layer") %>"
        data-action="click->layer#center">
        <%= embedded_svg "frame.svg" %>
      </span>
      <button
        class="layer-header__chevron chevron"
        data-action="layer#toggleTable map#layerToggle"
        data-map-layer-id-param="<%= layer.id %>"
        data-map-add-feature-text-param="<%= t("common.add_geometry.#{layer.geometry_type}") %>"
        data-map-geometry-type-param="<%= layer.geometry_type %>">
      </button>
    </div>
  </header>

  <div class="layer-table__body" data-layer-switch-target="content">
    <%= render "layers/rows", layer: layer %>

    <footer class="layer-footer">
      <div data-restricted-target="restricted" data-restricted-authorizations="<%= %w[owner editor contributor].to_json %>"> <%# Cf policy(layer).edit? %>
        <%= link_to t("helpers.link.layer.add_point"), new_layer_row_path(layer) if layer.geometry_point? %>
      </div>
      <div class="layer-footer__icon">
        <%= link_to layer, data: {turbo_method: :delete, turbo_confirm: t("common.confirm")}, title: t("helpers.link.layer.delete") do %>
          <%= embedded_svg "delete.svg" %>
        <% end %>
      </div>
      <div class="layer-footer__icon">
        <%= link_to geojson_layer_path(layer), download: "#{layer.name}.geojson", title: t("helpers.link.layer.geojson_export") do %>
          <%= embedded_svg "export.svg" %>
        <% end %>
      </div>
    </footer>
  </div>
</div>
