<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: {method: :post, class: "form__container"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% resource.class.invite_key_fields.each do |field| -%>
    <div class="form_field">
      <%= f.label field %><br>
      <%= f.text_field field %>
    </div>
  <% end -%>

  <%= f.submit t("devise.invitations.new.submit_button") %>
<% end %>
