@use "dropdown";
@use "restricted";
@use "forms";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 16px;
  background: var(--color-bg-ambient-10);
}

[hidden] {
  // Prevent overriding the hidden html attribute with another display: rule
  display: none !important;
}

:root {
  /* AMBIENT COLOR */
  --color-bg-ambient-10: #fffefa;
  --color-bg-ambient-20: #fcfaf3;
  --color-bg-ambient-30: #f7f4eb;

  /* GREY COLOR */
  --color-grey-10: #f7f7f5;
  --color-grey-20: #f0efed;
  --color-grey-30: #e8e7e6;
  --color-grey-40: #d4d3d2;
  --color-grey-50: #afaeaa;
  --color-grey-60: #8e8e8c;
  --color-grey-70: #6b6a68;
  --color-grey-80: #545452;
  --color-grey-90: #3d3d3c;
  --color-grey-100: #212120;

  /* GREEN COLOR */
  --color-green-10: #d7e9dd;
  --color-green-20: #c3dbcb;
  --color-green-30: #a8c9b4;
  --color-green-40: #96baa3;
  --color-green-50: #80a68d;
  --color-green-60: #638e72;
  --color-green-70: #4d7a5d;
  --color-green-80: #376647;
  --color-green-90: #1d4c2e;
  --color-green-100: #0d2e18;

  /* ATTENTION COLOR */
  --color-attention-10: #ffeece;
  --color-attention-20: #fdda94;
  --color-attention-30: #fabc1e;
  --color-attention-40: #915e04;

  /* ERROR COLOR */
  --color-error-10: #ffedee;
  --color-error-20: #fbc5c9;
  --color-error-30: #e62c41;
  --color-error-40: #b01a2b;

  /* INFO COLOR */
  --color-info-10: #d8f0f9;
  --color-info-20: #70caf1;
  --color-info-30: #299ae5;
  --color-info-40: #026ebb;

  /* SUCCES COLOR */
  --color-succes-10: #ecfadc;
  --color-succes-20: #c4ed98;
  --color-succes-30: #8bbd54;
  --color-succes-40: #46790f;
  --box-shadow: 0 1px 6px;
  --color-shadow: var(--color-grey-30);

  /* MAIN FONT */
  --font-serif: georgia, "Times New Roman", times, serif, regular;
  --font-sans: verdana, geneva, tahoma, sans-serif;
  --font-mono: menlo, "DejaVu Sans Mono", monospace;

  /* COLOR TABLE */
  --color-bg: #fff;
  --color-bg-secondary: #e9e9e9;
  --color-text: #000;

  /* MAP SIZE */
  --nav-height: 3.2rem;
  --footer-height: 2.4rem;
  --border-radius: 4px;
  --content-max-width: 1440px;
  --content-padding-small: 3.25rem;
  --content-padding: 4rem;
  --content-padding-large: 5.5rem;
  --main-header-height: 56px;

  /* Z-indexes */
  --dropdown-z-index: 1000;
  --dragbar-z-index: 100;
  --active-layer-z-index: 10;
  --layer-header-z-index: 2;
  --layer-table-thead-z-index: 1;
  --map-overlay-z-index: 1;
}

.main-header {
  background-color: var(--color-bg-ambient-20);
  border-bottom: 0.5px solid var(--color-grey-40);
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-nav {
  border: 0;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-serif);
  align-items: center;
  width: var(--content-max-width);
  padding: 3.5rem 4rem;
}

@media (max-width: 850px) {
  .main-nav {
    padding: 0 0.5rem;
  }
}

.main-nav__title {
  font-weight: lighter;
  letter-spacing: -0.58px;

  a {
    color: var(--color-green-50);
    text-decoration: none;
  }
}

button {
  font-family: var(--font-serif);
}

button:active {
  filter: brightness(0.85);
}

button:hover {
  cursor: pointer;
}

a {
  color: var(--color-green-70);
}

p {
  padding-top: 8px;
  padding-bottom: 8px;
}

a b,
a strong,
button {
  border: none;
  color: var(--color-grey-80);
  outline: none;
}

button:disabled,
input:disabled {
  background: var(--color-bg-ambient-20);
  border-color: var(--color-bg-ambient-20);
  color: var(--color-grey-80);
  cursor: not-allowed;
}

button[disabled]:hover {
  filter: none;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer__application {
  align-items: center;
  display: flex;
  height: var(--footer-height);
  background-color: var(--color-bg-ambient-30);
  justify-content: center;
  font-size: 14px;
  color: var(--color-grey-60);
}

h2 {
  color: var(--color-green-90);
  margin: 16px;
  margin-top: 0;
}

a b,
a em,
a i,
a strong,
button {
  display: inline-block;
  line-height: 1.5;
  padding: 0.1rem 0.2rem;
  border: 0;
}

.centered-main {
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}

.container {
  padding: var(--content-padding);
  max-width: var(--content-max-width);
  width: 100%;
}

@mixin button($text, $background) {
  border: 0;
  font-weight: lighter;
  padding: 8px;
  border-radius: var(--border-radius);
  text-decoration: none;
  color: $text;
  background-color: $background;
  cursor: pointer;
  font-family: var(--font-serif);
  height: 40px;
  line-height: 1.5;
  width: fit-content;

  &:focus {
    background-color: $background;
  }
}

.primary-action {
  @include button(white, var(--color-green-70));

  &:hover:not([disabled]) {
    background-color: var(--color-green-90);
  }
}

.delete-action {
  @include button(white, var(--color-error-40));
}

.secondary-action {
  @include button(var(--color-green-80), var(--color-green-20));
}

@mixin border() {
  background-color: var(--color-bg);
  border-style: double;
  border-color: var(--color-grey-100);
  border-width: 3px;
}

.no-decoration {
  text-decoration: none;
}

.section {
  display: flex;
  gap: 2.875rem;
  flex-direction: column;
  max-width: 520px;
}

.section--small {
  max-width: 520px;
}

.section__title {
  color: var(--color-text);
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
}

.subsection__title {
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: 400;
}

.icon--sm {
  width: 16px;
  height: 16px;
}

.modal {
  margin: 32px;
  @include border;

  padding: 0;
}

.modal__container {
  padding: 1rem;
}

.modal__footer {
  padding: 1rem;
  background-color: var(--color-bg-ambient-30);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}
