:root {
  --input-bg-empty: #fafafa;
  --input-border-color: var(--color-grey-60);
  --input-border-focus: #2888cf;
  --input-outline-focus: #9cf;
}

// General form rules
// Rules not using BEM classes are deprecated; use .form__ classes instead (and create new ones as needed)
form {
  display: block;
  max-width: 460px;
  text-align: left;
}

form header {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

fieldset {
  border: none;
}

label {
  font-family: var(--font-serif);
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="button"]),
label,
select,
textarea {
  display: block;
  font-size: inherit;
  max-width: 460px;
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="button"]),
select,
textarea {
  border: 1px solid var(--input-border-color);
  border-radius: 2px;
  box-shadow: 0 1px 4px var(--color-grey-40) inset;
  padding: 0.5rem;
  vertical-align: middle;

  /* matches an empty input */
  &:invalid {
    background-color: var(--input-bg-empty);
    border-color: var(--color-grey-50);
  }
}

input:focus {
  border-radius: 2px;
  border: 1px solid var(--color-green-90);
  opacity: 1;
  background-color: rgb(255 255 255 / 100%);
  outline: 2px solid var(--input-outline-focus);
}

input[type="checkbox"],
input[type="radio"] {
  border: 1px solid var(--input-border-color);
  box-shadow: 0 1px 4px var(--color-grey-30) inset;
  display: inline-block;
  height: 16px;
  width: 20px;
  accent-color: var(--color-green-70);
  vertical-align: middle;
}

// Hide browser-specific decoration of number inputs
input[type="number"] {
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form__header {
  margin-bottom: 0.5rem;
}

.form__field {
  // A sub-unit of a form. Can be nested.
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  font-family: var(--font-serif);
  font-size: 14px;
  font-weight: normal;
}

.form__field--inline {
  align-items: center;
  flex-direction: row;
}

.form__field--slim {
  font-size: 13px;
  font-weight: lighter;
  gap: 0.2rem;
}

.form__text-field {
  min-width: 14rem;
  width: 100%;
}

.form__button {
  color: white;
  border: 0;
  font-size: 14px;
  padding: 8px;
  border-radius: var(--border-radius);
  text-decoration: none;
  cursor: pointer;
  font-family: var(--font-serif);
  height: 36px;
  min-width: 80px;
  line-height: 1.5;
  width: fit-content;
}

.form__button--slim {
  height: 28px;
  font-size: 11px;
  line-height: 1;
}

.form__button--confirm {
  background-color: var(--color-green-70);

  &:hover:not([disabled]) {
    background-color: var(--color-green-90);
  }

  &:active {
    background-color: black;
  }
}

.form__button--delete {
  background-color: var(--color-attention-30);

  &:hover:not([disabled]) {
    background-color: var(--color-attention-40);
  }

  &:active {
    background-color: black;
  }
}
