// Main table of layer data
.map-data__container {
  overflow: auto;
  height: 100%;
  padding: 0;
}

.layer-container {
  margin: 0;
  background-color: var(--color-grey-30);
}

.layer-container.is-active {
  z-index: var(--active-layer-z-index);
  position: relative;
}

.layer-header {
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
  background-color: var(--color-bg-ambient-30);
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px white;
  border-bottom: solid 1px var(--color-grey-40);
  position: sticky;
  top: 0;
  z-index: var(--layer-header-z-index);

  h3 {
    font-size: 16px;
    font-weight: 400;
  }
}

.layer-header__icon {
  height: 24px;
  width: 24px;
}

.layer-header__left-description,
.layer-header__right-tools {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.layer-header__action {
  height: 14px;
  width: 14px;
  cursor: pointer;
}

.layer-header__chevron {
  margin: 0;
  height: 28px;
  width: 28px;
  border-radius: 4px;
  border: 0.5px solid rgb(212 211 210 / 100%);
  background-color: rgb(255 254 250 / 100%);
}

.layer-table {
  // -- Fancy rounded borders --
  // We don’t collapse the borders to allow rounded cells
  border-spacing: 0;

  $border-radius: 6px;
  $border: solid 1px var(--color-grey-50);

  table-layout: fixed;
  white-space: nowrap;

  th {
    background-color: var(--color-grey-20);
    border-top: $border;
    padding: 0.625rem 0.375rem;

    &:hover {
      background-color: var(--color-grey-30);
    }

    &:first-child {
      border-top-left-radius: $border-radius;
    }

    &:last-child {
      border-top-right-radius: $border-radius;
    }
  }

  th,
  td {
    border-bottom: $border;
    border-left: $border;

    &:last-child {
      border-right: $border;
      height: auto;
      position: sticky;
      right: 0;
    }
  }

  td {
    font-size: 12px;
    padding: 0;
  }

  td.table-field {
    padding: 0;
  }

  tr:last-child {
    td:first-child {
      border-bottom-left-radius: $border-radius;
    }

    td:last-child {
      overflow: hidden;
      border-bottom-right-radius: $border-radius;
    }
  }

  .highlight,
  .highlight input {
    background-color: var(--color-attention-10);
  }

  .highlight-transition,
  .highlight-transition input {
    background-color: var(--color-attention-20);
  }

  .bg-transition,
  .bg-transition input {
    transition: background-color 2s;
  }

  thead.resizable th {
    resize: horizontal;
  }

  thead {
    z-index: var(--layer-table-thead-z-index);
    position: sticky;
    top: 32px;
    color: var(--color-grey-80);
    background-color: var(--color-bg-ambient-10);
    height: 32px;
  }

  tr.row td {
    text-align: center;

    button {
      margin-top: 0;
      margin-bottom: 0;
    }

    &.numerical {
      font-family: var(--font-mono);
      text-align: right;
    }
  }

  td.calculated,
  td.table-field {
    input,
    select {
      border-radius: 0;
      height: 34px;
      width: 100%;
      box-shadow: none;
      padding-inline: 0.475rem;
      margin: 0;
      border: 2px solid transparent;
    }

    input:focus {
      background-color: rgb(215 233 221 / 50%);
      border: 2px solid white;
      outline: 1px solid var(--color-green-90);
    }

    input[type="number"] {
      font-family: var(--font-mono);
      text-align: right;
    }

    input[type="checkbox"] {
      border: 1px solid var(--color-grey-60);
      height: 20px;
      width: 20px;
    }
  }
}

.layer-table__header {
  font-family: var(--font-serif);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-color: var(--color-grey-50);
}

form.table-field {
  input[type="radio"] {
    margin-top: 0;
    margin-bottom: 0;
  }

  font-size: 14px;
}

.table-actions {
  background-color: var(--color-grey-30);
}

.table-actions__container {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.table-actions button {
  background: none;
  line-height: initial;
}

.layer-footer {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: baseline;
}

.layer-footer__icon {
  width: 28px;
  height: 28px;
  color: var(--color-green-70);
  background-color: var(--color-bg-ambient-10);
  border: 0.5px solid var(--color-grey-60);
  border-radius: 4px;
  box-shadow: 0 0 0 2.5px var(--color-bg-ambient-10),
    0 0 0 3px var(--color-grey-60);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  a {
    width: 16px;
    height: 16px;
  }
}

.footer__layer-list {
  padding: 1rem;
}

.layer-table__body {
  display: none;
  padding: 2rem;
  border-bottom: solid 1px var(--color-grey-40);
}

.is-active > .layer-table__body {
  display: block;
}
