.list-element {
  list-style-type: none;
}

.list-element + .list-element {
  border-top: 1px solid var(--color-grey-40);
}

.list-element__link {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.75rem 0.625rem 1.125rem 0;
}

.list-element__content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

/* in case .list-element doesn't have a .link-element__link */
.list-element > .list-element__content {
  padding: 0.75rem 0 1.125rem;
}

.list-element__title {
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.2;
}

.list-element__description {
  align-items: center;
  color: var(--color-grey-60);
  display: flex;
  gap: 0.375rem;
  padding: 0;
}

.list-element__extra {
  background-color: white;
  border-radius: 4px;
  border: 1px solid var(--color-grey-50);
  display: flex;
  outline: 1px solid var(--color-grey-30);
  outline-offset: 1.5px;
  padding: 0.75rem 0.5rem;

  svg {
    width: 24px;
    height: 24px;
    fill: var(--color-green-50);
  }
}

.list-element__actions {
  color: var(--color-grey-60);
}

.list-element__actions a + a {
  margin-left: 1.25rem;
  position: relative;
}

.list-element__actions a + a::before {
  content: "–";
  left: -0.875rem;
  pointer-events: none;
  position: absolute;
}
