.map {
  width: 100%;
  height: 100%;
}

.map__toolbar__container {
  display: flex;
  width: 100%;
  position: absolute;
  padding: 1rem;
  z-index: var(--map-overlay-z-index);
  justify-content: space-between;
  align-items: center;
}

.map__toolbar__right {
  display: flex;
  gap: 1rem;

  button {
    margin: 0;
  }
}

.map__toolbar__add-button {
  height: 32px;
  padding: 0 1rem;
  color: white;
  font-size: 16px;
  background-color: var(--color-green-70);
  border-radius: 8px;
  border-width: 4px;
  border-color: rgb(255 255 255 / 66%);
  border-style: solid;
  margin: 0;
}

.maplibregl-ctrl-group {
  display: flex;
  flex-direction: row-reverse;
  border-style: double;
}

.maplibregl-ctrl-group:not(:empty) {
  box-shadow: none;
}

.map__control__icon {
  cursor: pointer;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background-color: white;
  border-style: double;
  border-radius: 4px;

  // Sorry, I was a bit desperated to get those icons work correctly
  a,
  button,
  form {
    color: black;
    background: transparent;
    padding: 0;
    width: 24px;
    height: 24px;
  }

  svg {
    pointer-events: none;
  }
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="button"]) {
  // TODO: remove the above line once we use BEM for general forms rules (see _forms.scss)

  &.map__toolbar__input {
    height: 30px;
  }

  &.map__name__input {
    text-align: center;
  }
}
