@use "common";

// Note: this is not BEM and will be eventually refactored
.new-layer {
  h2 {
    text-align: left;
    margin: 0;
  }

  h3 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .geometry-type-selector {
    width: 400px;
    display: flex;
    justify-content: space-between;

    [type="radio"] {
      display: none;
    }

    [type="radio"] + div {
      cursor: pointer;

      svg {
        outline: 1px solid var(--color-grey-50);
        background-color: var(--color-bg-ambient-20);
      }
    }

    [type="radio"]:hover + div {
      cursor: pointer;

      svg {
        outline: 1px solid var(--color-grey-100);
        background-color: white;
      }

      background-color: var(--color-bg-ambient-20);
    }

    [type="radio"]:checked + div {
      background-color: var(--color-green-10);

      svg {
        outline: 2px solid var(--color-green-70);
        background-color: var(--color-bg-ambient-20);
      }
    }

    [type="radio"]:disabled + div {
      cursor: default;
      background-color: var(--color-grey-20);

      svg {
        outline: 1px solid var(--color-grey-50);
        background-color: var(--color-bg-ambient-20);
      }
    }

    div {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding-bottom: 8px;

      svg {
        width: 48px;
        height: 48px;
        margin: 8px;
      }
    }
  }
}

.color-selection__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.color-selection__option {
  display: flex;
  margin: 0.5rem;
  gap: 0.5rem;
}
