input:not([type="checkbox"], [type="radio"], [type="submit"], [type="button"]) {
  // TODO: remove the above line once we use BEM for general forms rules (see _forms.scss)

  // Make inputs look like regular text
  &.input--restricted {
    // Use the default text style:
    // input inherits its parent form, form inherits its parent
    text-align: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    letter-spacing: inherit;

    // Custom border
    border-color: var(--color-grey-30);
    border-style: solid;
    background-color: var(--color-bg-ambient-20);
    box-shadow: none;
    outline: none;

    // on hover/focus only
    &:not(:focus, :hover) {
      border-color: transparent;
      background: none;
      box-shadow: none;
    }

    &[disabled] {
      // If the input is disabled, nothing should even hint that this is an input
      cursor: default;
    }
  }
}
