.roles {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-element {
  display: flex;
  align-items: end;
  gap: 1rem;
}

.role__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.role__form form {
  align-items: end;
  display: flex;
  gap: 1rem;
}
