// Sassy
@use "common";
@use "new_layer";
@use "layer-table";
@use "field-form";
@use "roles";
@use "list";
@use "map";

.container {
  padding: var(--content-padding-large) var(--content-padding);
}

.main-header {
  height: var(--main-header-height);
  width: initial;
}

.main-nav {
  padding: 0 1.5rem;
  width: 100%;
}

.main-nav__title {
  font-size: 2rem;
}

.user-dropdown__content {
  @include common.border;

  margin-top: 1em;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5em;
  font-size: 14px;

  a {
    text-decoration: underline;
  }
}

.user-dropdown__button {
  @include common.button(var(--color-green-80), var(--color-green-20));
}

/* MAP */
.data-with-map {
  height: calc(
    100vh - var(--nav-height) - var(--footer-height) - var(--main-header-height)
  );
  display: flex;
  width: 100%;

  > .data {
    overflow-y: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .right-pane {
    width: 50%;
  }
}

.new-row {
  width: 100%;

  .map {
    right: 0;
    bottom: 0;
    height: 200px;

    .crosshair {
      $size: 18px;

      width: $size;
      height: $size;
      z-index: var(--map-overlay-z-index);
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: calc($size / -2);
      margin-top: calc($size / -2);
    }
  }

  .form {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 850px) {
    .form {
      padding-left: 1rem;
    }
  }
}

.is-hidden {
  display: none;
}

input[readonly],
textarea[readonly] {
  background-color: var(--color-bg-ambient-20);
}

.search-result {
  border-radius: 5px;
  border: black;

  ul {
    list-style-type: none;
    text-align: start;

    li {
      cursor: pointer;
      font-family: var(--font-sans);

      &.active,
      &:hover {
        color: var(--color-green-60);
        text-decoration: underline;
      }

      mark {
        background-color: var(--color-attention-20);
      }
    }
  }
}

#error-explanation {
  background-color: var(--color-attention-20);
  font-size: 12px;
  border-radius: var(--border-radius);
  padding: 1rem 2rem;

  h2 {
    font-size: 16px;
    color: var(--color-green-100);
  }
}

.dragbar {
  background-color: white;
  color: var(--color-grey-70);
  border-style: none solid;
  border-width: 1px;
  height: 100%;
  width: 6px;
  z-index: var(--dragbar-z-index);
  position: relative;
  cursor: ew-resize;
}

.svg-dragbar {
  height: 26px;
  width: 26px;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.main-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-height);
  overflow: hidden;
  padding-inline: 1.5rem;
  width: 100%;

  h2 {
    margin: 0;
  }

  a {
    font-size: 15px;
    text-decoration: none;
    background-color: var(--color-bg-ambient-10);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 44px;
    gap: 0.3em;
  }

  .main-actions-right {
    display: flex;
    flex-direction: row;
    gap: 0.2em;
  }
}

.main-actions + .container {
  padding-top: var(--content-padding-small);
}

.new-territory-form__container {
  display: flex;
  padding: 1rem 0;
  gap: 2rem;
  align-items: center;
}

.input-with-button {
  display: flex;

  input {
    margin-right: -40px;
    padding-right: 40px;
  }

  button {
    top: 1px;
    right: -1px;
    width: 38px;
    height: 38px;
    margin: 0;
    position: relative;
    padding: 8px;
  }
}
