<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= t("common.app_title") %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= render "application/favicon" %>

  <link href='https://unpkg.com/maplibre-gl@2.1.7/dist/maplibre-gl.css' rel='stylesheet'>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.3.0/mapbox-gl-draw.css' type='text/css'>
  <link href='https://ga.jspm.io/npm:@maplibre/maplibre-gl-geocoder@1.5.0/dist/maplibre-gl-geocoder.css' rel='stylesheet'>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "application.css", "data-turbo-track": "reload" %>
</head>

<body>
<header class="main-header">
  <nav class="main-nav">
    <h1 class="main-nav__title"><%= link_to t("common.app_title"), user_signed_in? ? maps_path : root_path %></h1>
    <div id="flash">
      <%= render "layouts/flash" %>
    </div>
    <div class="header-right">
      <% if user_signed_in? %>
      <div class="dropdown" data-controller="dropdown">
        <span class="chevron" aria-controls="parameters" data-action="click->dropdown#toggle" data-dropdown-target="trigger"><%= current_user.email %></span>
        <div id="parameters" class="dropdown__content user-dropdown__content" data-dropdown-target="content">
          <%= link_to "Français", url_for(locale: :fr) %>
          <%= link_to "English", url_for(locale: :en) %>
          <%= link_to t(".preferences"), edit_user_registration_url %>
          <%= button_to t(".sign_out"), destroy_user_session_path, method: :delete, class: "user-dropdown__button" %>
        </div>
      </div>
      <% else %>
        <%= link_to t(".sign_in"), new_user_session_path, class: "secondary-action" %>
        <%= link_to t(".sign_up"), new_user_registration_path, class: "primary-action" %>
      <% end %>
    </div>
  </nav>
</header>
<main>
  <%= yield %>
</main>
<footer class="footer__application">
  <p><%= t(".footer_html") %></p>
</footer>
</body>
</html>
