<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= t("common.app_title") %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= render "application/favicon" %>

  <link href='https://unpkg.com/maplibre-gl@2.1.7/dist/maplibre-gl.css' rel='stylesheet'>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "main.css", "data-turbo-track": "reload" %>
</head>

<body>
<header class="main-header">
  <nav class="main-nav">
    <h1 class="main-nav__title"><%= link_to t("common.app_title"), user_signed_in? ? maps_path : root_path %></h1>
    <div id="flash">
      <%= render "layouts/flash" %>
    </div>
    <div class="header-right">
      <% if user_signed_in? %>
        <span><%= t("common.hello") %>, <%= current_user.email %></span>
        <%= button_to t("layouts.application.sign_out"), destroy_user_session_path, method: :delete, class: "primary-action" %>
      <% else %>
        <%= link_to t("layouts.application.sign_in"), new_user_session_path, class: "header-login" %>
        <%= link_to t("layouts.application.sign_up"), new_user_registration_path, class: "primary-action" %>
      <% end %>
      <div class="dropdown" data-controller="dropdown">
        <button class="button-trad" role="button" aria-haspopup="menu" aria-label="<%= t("layouts.application.change_language") %>" aria-controls="languages-selector" data-action="click->dropdown#toggle" data-dropdown-target="trigger">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 20">
            <g>
              <path d="M20 18h-1.44a.61.61 0 0 1-.4-.12.81.81 0 0 1-.23-.31L17 15h-5l-1 2.54a.77.77 0 0 1-.22.3.59.59 0 0 1-.4.14H9l4.55-11.47h1.89zm-3.53-4.31L14.89 9.5a11.62 11.62 0 0 1-.39-1.24q-.09.37-.19.69l-.19.56-1.58 4.19zm-6.3-1.58a13.43 13.43 0 0 1-2.91-1.41 11.46 11.46 0 0 0 2.81-5.37H12V4H7.31a4 4 0 0 0-.2-.56C6.87 2.79 6.6 2 6.6 2l-1.47.5s.4.89.6 1.5H0v1.33h2.15A11.23 11.23 0 0 0 5 10.7a17.19 17.19 0 0 1-5 2.1q.56.82.87 1.38a23.28 23.28 0 0 0 5.22-2.51 15.64 15.64 0 0 0 3.56 1.77zM3.63 5.33h4.91a8.11 8.11 0 0 1-2.45 4.45 9.11 9.11 0 0 1-2.46-4.45z" />
            </g>
          </svg>
        </button>
        <div id="languages-selector" class="dropdown__content dropdown__content--padded" data-dropdown-target="content">
          <%= link_to "English", url_for(locale: :en) %>
          <hr class="solid">
          <%= link_to "Français", url_for(locale: :fr) %>
        </div>
      </div>
    </div>
  </nav>
</header>
<main>
  <%= yield %>
</main>
<footer class="footer__application">
  <p><%= t("layouts.application.footer_html") %></p>
</footer>
</body>
</html>
