<%# params: row %>
<%# renders a hidden form for a new Row with connectors to stimulus controllers. Used in layers/edit %>
<% if row.layer.geometry_territory? %>
  <div
    class="new-territory-form__container"
    data-controller="new-territory">
    <%= render SearchComponent.new(form: "new_territory_form", field: "row[territory_id]", layer_id: row.layer.id, field_id: nil, territory: nil) %>
    <%= form_with model: [row.layer, row], id: "new_territory_form", data: {"new-territory-target": "form"} do |form| %>
      <%= form.hidden_field :layer_id %>
      <%= form.submit t("helpers.link.territory.new"), class: "form__button form__button--confirm", disabled: true, data: {"new-territory-target": "submit", action: "new-territory#save"} %>
    <% end %>
  </div>
<% else %>
  <%= form_with model: [row.layer, row], data: {map_target: "newRowForm", layer_id: row.layer.id}, class: "is-hidden" do |form| %>
    <%= form.hidden_field :geojson, data: {map_target: "geojsonField", layer_id: row.layer.id} %>
    <%= form.submit %>
  <% end %>
<% end %>
