<%# params: row %>

<div
  class="new-row"
  data-controller="map-add-point"
  data-map-add-point-default-longitude-value="<%= @row.layer.map.default_longitude %>"
  data-map-add-point-default-latitude-value="<%= @row.layer.map.default_latitude %>"
  data-map-add-point-default-zoom-value="<%= @row.layer.map.default_zoom %>">
  <div class="map" data-map-add-point-target="map">
    <%= embedded_svg "center.svg", class: "crosshair" %>
  </div>
  <div class="form">
    <%= form_with model: [@row.layer, @row], id: dom_id(@row, :form) do |form| %>
      <%= hidden_field_tag :from_rows_new, true %>
      <%= form.hidden_field :geojson, data: {map_add_point_target: "geojson"} %>
        <% @row.layer.fields.each do |field| %>
          <div>
            <%= form.label "row[fields_values][#{field.id}]", field.label %>
            <%= field_tag field, "row[fields_values][#{field.id}]", nil, form: dom_id(@row, :form) %>
          </div>
        <% end %>
      <%= form.submit t("helpers.link.row.add_this_point") %>
    <% end %>
  </div>
</div>
